$body-background : #000;;

$paper-color: #ffffff;
$body-text-color: #282828;
$link-color: #2638C4;
$header-bg: #2638C4;
$header-text-color: #ffffff;
$h-color: #0f1e8c;
$border-color: #0A145A;
$sidebar-bg: #eef0f5;


$header-font: 'Poppins';
$body-font : 'Raleway';


@mixin wide-print-header {
    #header{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;

        h1{font-size: 1.8rem;}
        h1, .tagline{
            white-space: nowrap;
            margin:0;
        }
        .left{text-align:left;}
        img{
            float:left;
            margin: 0 1rem 0 0;
            width:auto; 
            height: auto;
        }
        .contact{
            margin-top: 0;
            text-align:right;
        }
    }
}
@mixin two-columns{
    display:grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    height:100%;
    .position{ 
        margin-top: 0;
    }
}


body{
    margin:0;
    background-color: $body-background;
    color: $body-text-color;
    font-size:1rem;
    font-family: $body-font;
}

a{ color: $link-color;}
h1, h2, h3, h4, h5 {
    font-family: $header-font;
    font-weight:800;
    color: $h-color;
}
h2{font-size: 1.2rem;}
h3{font-size: 1.1rem;}
h4{font-size: 1rem;}
p{margin-bottom: 0rem;}

.d-none{display:none;}

.resume-wrapper{
    display:block;
    width:100%;
    background-color: $paper-color;
}

#header{
    text-align: center;
    background-color:$header-bg;
    border-bottom: solid 2px $border-color;
    color: $header-text-color !important;
    padding:1rem 1.5rem;

    img{
        border-radius: 50%;
        margin:2rem auto 0;
        width:150px;
    }

    a {color: $header-text-color;}

    h1{
        font-size: 2rem;
		margin-bottom: 0;
        margin-top: 1rem;
        color: $header-text-color;
    }
    .tagline{
		font-size: 1.2rem;
		margin-top: 0;
	}
    .contact{
        font-size: .8rem;
		margin-top: 1.5rem;
    }
    .header-link{
        display:block;
        margin-left:1rem;
        padding:.1rem 0;

    }
    .resume{display:none;}
}

#content{
    .leftcol{
        padding: 1rem 1rem 0 2rem;}
    .rightcol{
        padding: 1rem;
        background-color: $sidebar-bg;
    }
}

.employer-wrapper{
    .employer{
        font-style:italic;
        margin-bottom: .4rem
    }
    .position{
        margin: 1rem 0 .3rem .3rem;

    }
    .time{
        // margin-top:.2rem;
    }
    .description{}
}


@media (min-width: 768px){
    section{margin-bottom: 0;}
	h1, h2, h3, h4, h5{margin-top:0;}
	li{font-size: .9rem;}
    .resume-wrapper{
        width: 8.5in;
        height: 11in;
        overflow:hidden;
        margin: 1rem auto;
        box-shadow: 10px 10px 10px;
    }
    @include wide-print-header;
    #content{@include two-columns();}
	#experience h2{margin-top: 1rem;}

}

@media print{
    * {transition: none !important;}
    body{
        background-color: transparent;
        font-size: .95rem;
    }
    .resume-wrapper{
        width:100%;
        height:auto;
        margin: 0;
        box-shadow: none;
    }
    #content{
        @include two-columns();
        height: auto;
    }
    a{
        color: $body-text-color;
    }
   .linkedin{display:none !important;}
   #header .resume{display: block;}
   @include wide-print-header;
}